datasets/VOCdevkit/VOC2012/
datasets/VOCdevkit/VOCtrainval_11-May-2012.tar
datasets/typographic_attack_dataset/typographic_attack_dataset.zip
datasets/typographic_attack_dataset/images/
datasets/Cifar100
datasets/Cifar100/cifar-100-python
datasets/Cifar100/images
datasets/Cifar100/Typographic_images
datasets/caltech101
datasets/flowers-102
datasets/stanford_cars
datasets/oxford-iiit-pet
datasets/fgvc-aircraft-2013b
datasets/typographic_real_data_from_PAINT
datasets/food-101
datasets/dtd
datasets/ImageNet
datasets/ImageNet-1K
datasets/imagenetv2
datasets/ours
datasets/sun 
datasets/eurosat
datasets/typographic_attack_dataset
trash/

runs/
__pycache__
jobscript.sh
jobscript*
singularity.sh
word_images/
interactive.sh
submit_job.sh
typographic_images
*.sh
*.sh.*
text_to_image/taming
text_to_image/vqgan_imagenet_f16_1024.ckpt
text_to_image/vqgan_imagenet_f16_16384.ckpt

pre-trained_models/

CoOp/

patching/data/
patching/models/

datasets/*.zip

taxt_to_image/taming-transformers/

BadEncoder/data/

BadEncoder/log/

model*